<div class="container">
   <div class="row p-3">
     <div class="col-12 p-3"><%= @art_craft.title %></div>
   </div>
      
   <% @comments.reverse.each do |comment| %>
     <div class="ml-3"><%= comment.user.name %></div>
     <div class="popover right show mx-3 mb-3 mt-1 p-1" style="position:relative; max-width:100%;">
       <div class="arrow"></div>
       <div class="popover-content">
         <p>
           <%= comment.content %>
         </p>
       </div>
     </div>
   <% end %>
    
   <%= paginate @comments %>
   <div class="container">
     <%= form_for(@comment, url: art_craft_comments_path(@art_craft)) do |f| %>
      <div class="row p-5">
          <div class="input-group mb-3">
             <%= f.text_field :content, class: "form-control", placeholder: "コメント投稿" %>
             <div class="input-group-append">
               <%= f.submit "送信", class: "btn btn-outline-secondary" %>
             </div>
          </div>
      </div>
     <% end %>
   </div>
   
</div>